.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type="submit"],
input[type="button"] {
  background-color: #2196f3 !important;
  color: white;
  padding: 12px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.main-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 350px;
}

.search-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 220px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.img--star {
  width: 5%;
  height: 5%;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 5px;
  margin-left: 2px;
  border-radius: 0.5em;
}

textarea {
  width: 100%;
}
